* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 50px;
}

header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.middle-section {
  display: flex;
  gap: 20px;
}

.main-container {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}


